<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
  </head>

  <body>
    <h1> Welcome to Rock-Paper-Scissors! </h1>

    <P>From <a href="https://en.wikipedia.org/wiki/Rock–paper–scissors" target="_blank">Wikipedia</a> </P>

    <P> Rock-paper-scissors (also known as paper, scissors, stone or other variants) is a hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand.
    </P>

    <P> These shapes are: </P>

    <ul>
      <li>"rock" (a closed fist)</li>
      <li>"paper" (a flat hand)</li>
      <li>"scissors" (a fist with the index and middle fingers extended, forming a V)</li>

    <p></p>

    </ul>

  </body>



</html>
